@font-face {
	font-family: 'StandardCT-5';
	font-weight: 400;
	src: url('../fonts/PalanquinDark-Regular.ttf');
}

@font-face {
	font-family: 'StandardCT-5';
	font-weight: 500;
	src: url('../fonts/PalanquinDark-Medium.ttf');
}

@font-face {
	font-family: 'StandardCT-5';
	font-weight: 600;
	src: url('../fonts/PalanquinDark-SemiBold.ttf');
}

@font-face {
	font-family: 'StandardCT-5';
	font-weight: 700;
	src: url('../fonts/PalanquinDark-Bold.ttf');
}

@font-face {
	font-family: 'UniversLT';
	font-weight: 300;
	src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
	font-family: 'UniversLT';
	font-weight: 400;
	src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
	font-family: 'UniversLT';
	font-weight: 700;
	src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
	font-family: 'Pitch';
	font-weight: 400;
	src: url('../fonts/SpecialElite-Regular.ttf');
}