// colors
$greyish-teal: #74a092;
$cool-grey: #9193a5;
$pumpkin: #e27905;
$dark-slate-blue: #254f6f;
$dark: #272b46;

// font-family and font-weight
$standard: 'StandardCT-5';
$univers: 'UniversLT';
$pitch: 'Pitch';

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;