@charset "UTF-8";
@font-face {
  font-family: 'StandardCT-5';
  font-weight: 400;
  src: url("../fonts/PalanquinDark-Regular.ttf");
}

@font-face {
  font-family: 'StandardCT-5';
  font-weight: 500;
  src: url("../fonts/PalanquinDark-Medium.ttf");
}

@font-face {
  font-family: 'StandardCT-5';
  font-weight: 600;
  src: url("../fonts/PalanquinDark-SemiBold.ttf");
}

@font-face {
  font-family: 'StandardCT-5';
  font-weight: 700;
  src: url("../fonts/PalanquinDark-Bold.ttf");
}

@font-face {
  font-family: 'UniversLT';
  font-weight: 300;
  src: url("../fonts/RobotoCondensed-Light.ttf");
}

@font-face {
  font-family: 'UniversLT';
  font-weight: 400;
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: 'UniversLT';
  font-weight: 700;
  src: url("../fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: 'Pitch';
  font-weight: 400;
  src: url("../fonts/SpecialElite-Regular.ttf");
}

.m-10 {
  margin-top: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.p-10 {
  padding-top: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.m-20 {
  margin-top: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.p-20 {
  padding-top: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.m-30 {
  margin-top: 30px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.p-30 {
  padding-top: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.m-40 {
  margin-top: 40px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.p-40 {
  padding-top: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.m-50 {
  margin-top: 50px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.p-50 {
  padding-top: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.m-60 {
  margin-top: 60px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mx-60 {
  margin-left: 60px;
  margin-right: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mr-60 {
  margin-right: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-60 {
  margin-left: 60px;
}

.p-60 {
  padding-top: 60px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.pt-60 {
  padding-top: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pl-60 {
  padding-left: 60px;
}

.m-70 {
  margin-top: 70px;
}

.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.mx-70 {
  margin-left: 70px;
  margin-right: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mr-70 {
  margin-right: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.ml-70 {
  margin-left: 70px;
}

.p-70 {
  padding-top: 70px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.px-70 {
  padding-left: 70px;
  padding-right: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pr-70 {
  padding-right: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pl-70 {
  padding-left: 70px;
}

.m-80 {
  margin-top: 80px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.p-80 {
  padding-top: 80px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.m-90 {
  margin-top: 90px;
}

.my-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.mx-90 {
  margin-left: 90px;
  margin-right: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.ml-90 {
  margin-left: 90px;
}

.p-90 {
  padding-top: 90px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.pt-90 {
  padding-top: 90px;
}

.pr-90 {
  padding-right: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.m-100 {
  margin-top: 100px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.p-100 {
  padding-top: 100px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.bold {
  font-weight: 700 !important;
}

.bgc-greyish-teal {
  background-color: #74a092;
}

.bgc-cool-grey {
  background-color: #9193a5;
}

.bgc-pumpkin {
  background-color: #e27905;
}

.bgc-dark-slate-blue {
  background-color: #254f6f;
}

.bgc-dark {
  background-color: #272b46;
}

/* ------------------------- */
/* GENERAL STYLES */
/* ------------------------- */
h1 {
  font-family: "StandardCT-5";
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    letter-spacing: 4.4px;
    line-height: 67px;
  }
}

blockquote {
  font-family: "Pitch";
  font-weight: 700;
  font-size: 20px;
  color: #254f6f;
  line-height: 35px;
  padding-left: 50px;
  position: relative;
}

@media screen and (min-width: 576px) {
  blockquote {
    font-size: 22px;
    padding-left: 80px;
  }
}

@media screen and (min-width: 768px) {
  blockquote {
    font-size: 25px;
    line-height: 40px;
  }
}

blockquote::before {
  content: '“';
  position: absolute;
  left: 0;
  font-size: 70px;
  top: 10px;
}

@media screen and (min-width: 576px) {
  blockquote::before {
    font-size: 100px;
    top: 24px;
  }
}

p, .body-copy {
  font-family: "UniversLT";
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #272b46;
}

@media screen and (min-width: 768px) {
  p, .body-copy {
    line-height: 35px;
  }
}

.metadata {
  font-family: "UniversLT";
  font-weight: 400;
  font-size: 18px;
  color: #9193a5;
  text-align: center;
  line-height: 30px;
}

.subheader {
  font-family: "UniversLT";
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  letter-spacing: 2.6px;
}

@media screen and (min-width: 768px) {
  .subheader {
    font-size: 22px;
    line-height: 35px;
  }
}

.section-header, .section-header-alt {
  font-family: "StandardCT-5";
  font-weight: 400;
  font-size: 20px;
  color: #272b46;
  text-align: center;
}

.section-header-alt {
  color: #fff;
}

.nav-text, .nav-text a {
  font-family: "UniversLT";
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .nav-text, .nav-text a {
    text-align: center;
  }
}

.wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.cover-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-keyturn {
  background-color: #e27905;
  padding: 20px 40px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border-radius: 70px;
  font-family: "StandardCT-5";
  border: 0;
  font-weight: 700;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .btn-keyturn {
    font-size: 18px;
  }
}

.btn-keyturn:hover {
  background-color: #fa8607;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

hr {
  height: 1px;
  width: 100%;
  background-color: #9193a5;
}

img {
  max-width: 100%;
}

a:focus {
  text-decoration: none;
}

.ff-univers {
  font-family: "UniversLT";
}

/* ------------------------- */
/* header */
/* ------------------------- */
.keyturn-nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  padding: 50px 0;
}

@media screen and (max-width: 575px) {
  .keyturn-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.keyturn-logo img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .keyturn-logo img {
    max-width: 80%;
  }
}

/* ---- #btn-menu ---- */
#btn-menu {
  width: 35px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #btn-menu {
    display: none;
  }
}

#btn-menu span {
  background-color: #fff;
  width: 100%;
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  opacity: 1;
}

#btn-menu span:nth-child(1) {
  top: 0;
}

#btn-menu span:nth-child(2), #btn-menu span:nth-child(3) {
  top: 10px;
}

#btn-menu span:nth-child(4) {
  top: 20px;
}

#btn-menu.open span:nth-child(1),
#btn-menu.open span:nth-child(4) {
  top: 10px;
  opacity: 0;
  left: 50%;
  width: 0%;
}

#btn-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#btn-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* ---- nav menu ---- */
.menu-bg {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 127px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-bg {
    display: inline-block !important;
    padding: 0;
    width: auto;
    position: static;
    background-color: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu {
  width: 100%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 576px) {
  .nav-menu {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    max-width: 720px;
    background-color: transparent;
    border: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-menu li {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.nav-menu li:last-child {
  border-bottom: 0px;
}

.nav-menu li:hover {
  background-color: rgba(245, 245, 245, 0.59);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .nav-menu li {
    border: 0;
    width: auto;
    margin-left: 50px;
  }
  .nav-menu li:first-child {
    margin-left: 0;
  }
  .nav-menu li:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 992px) {
  .nav-menu li {
    margin-left: 80px;
  }
}

.nav-menu li a {
  color: #254f6f;
  padding: 15px 0;
  display: block;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .nav-menu li a {
    color: #fff;
    padding: 0;
  }
}

/* ------------------------- */
/* hero section */
/* ------------------------- */
#hero {
  min-height: 480px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  #hero {
    height: calc(100vh - 132px);
    min-height: 680px;
  }
}

#hero h1 {
  max-width: 1037px;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  #hero h1 {
    padding-left: 100px;
    padding-right: 100px;
  }
}

#hero .btn-keyturn {
  margin-top: 110px;
}

@media screen and (max-width: 991px) {
  #hero .btn-keyturn {
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  #hero .btn-keyturn {
    margin-top: 50px;
  }
}

#hero .arrow-icon {
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  #hero .arrow-icon {
    position: absolute;
    bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  #hero .arrow-icon img {
    width: 80%;
  }
}

/* ------------------------- */
/* keyturn section */
/* ------------------------- */
#about-keyturn {
  background-color: #fafafa;
}

#about-keyturn .body-copy {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-content {
  max-width: 1057px;
}

@media screen and (min-width: 992px) {
  .about-content {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ------------------------- */
/* affiliates section */
/* ------------------------- */
#affiliates {
  text-align: center;
}

/* ------------------------- */
/* footer */
/* ------------------------- */
footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  footer .subheader {
    padding-left: 90px;
    padding-right: 90px;
  }
}

/* ------------------------- */
/* form */
/* ------------------------- */
.frm-ctr-keyturn {
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 2px;
  border-color: #9193a5;
  border-width: 2px;
  font-family: "UniversLT";
  color: #272b46;
  width: 100%;
  line-height: normal;
}

@media screen and (min-width: 576px) {
  .frm-ctr-keyturn {
    padding: 20px 20px;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 992px) {
  .frm-ctr-keyturn {
    padding: 35px 20px;
    font-size: 30px;
  }
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #272b46;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #272b46;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #272b46;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
  color: #272b46;
}

.modal-body {
  padding: 2rem;
}

.input-placeholder {
  position: relative;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  color: #272b46;
  padding: .375rem .75rem;
  font-size: 15px;
  font-family: "UniversLT";
}

.placeholder span {
  color: #9193a5;
}

@media screen and (min-width: 992px) {
  .placeholder {
    font-size: 20px;
  }
}

form p {
  font-size: 30px;
}

form .btn-keyturn {
  padding: 10px 60px;
}

@media screen and (max-width: 991px) {
  form .btn-keyturn {
    padding: 10px 60px;
  }
}

@media screen and (max-width: 767px) {
  form .btn-keyturn {
    font-size: 18px;
    padding: 10px 35px;
  }
}

form h1 {
  font-size: 28px;
}

.form-control {
  font-size: 15px;
  font-family: "UniversLT";
  border-radius: 0px;
  height: inherit;
  padding: 10px;
  padding-left: 12px;
  border: 0px;
  min-height: 52px;
}

@media screen and (min-width: 992px) {
  .form-control {
    font-size: 20px;
  }
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/arrow.PNG);
  background-repeat: no-repeat;
  background-position: center right;
}

.modal-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */